# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
data/cifar-10-python.tar.gz
data/cifar-10-batches-py/batches.meta
data/cifar-10-batches-py/data_batch_1
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_3
data/cifar-10-batches-py/data_batch_4
data/cifar-10-batches-py/data_batch_5
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/test_batch
data/cifar10/cifar-10-python.tar.gz
data/cifar10/cifar-10-batches-py/batches.meta
data/cifar10/cifar-10-batches-py/data_batch_1
data/cifar10/cifar-10-batches-py/data_batch_2
data/cifar10/cifar-10-batches-py/data_batch_3
data/cifar10/cifar-10-batches-py/data_batch_4
data/cifar10/cifar-10-batches-py/data_batch_5
data/cifar10/cifar-10-batches-py/readme.html
data/cifar10/cifar-10-batches-py/test_batch
experiment_results/eigenvalue_summary.txt
experiment_results/seed_456_lr_0.001/temp_config.yaml
wandb/latest-run
wandb/run-20250905_181233-ccm76er3/run-ccm76er3.wandb
wandb/run-20250905_181233-ccm76er3/files/config.yaml
wandb/run-20250905_181233-ccm76er3/files/requirements.txt
wandb/run-20250905_181233-ccm76er3/files/wandb-metadata.json
wandb/run-20250905_181233-ccm76er3/files/wandb-summary.json
wandb/run-20250906_151429-aw1ge4df/run-aw1ge4df.wandb
wandb/run-20250906_151429-aw1ge4df/files/config.yaml
wandb/run-20250906_151429-aw1ge4df/files/requirements.txt
wandb/run-20250906_151429-aw1ge4df/files/wandb-metadata.json
wandb/run-20250906_151429-aw1ge4df/files/wandb-summary.json
wandb/run-20250907_144947-2sgmtenc/run-2sgmtenc.wandb
wandb/run-20250907_144947-2sgmtenc/files/config.yaml
wandb/run-20250907_144947-2sgmtenc/files/requirements.txt
wandb/run-20250907_144947-2sgmtenc/files/wandb-metadata.json
wandb/run-20250907_144947-2sgmtenc/files/wandb-summary.json
wandb/run-20250907_162150-ur31cl7u/run-ur31cl7u.wandb
wandb/run-20250907_162150-ur31cl7u/files/config.yaml
wandb/run-20250907_162150-ur31cl7u/files/requirements.txt
wandb/run-20250907_162150-ur31cl7u/files/wandb-metadata.json
wandb/run-20250907_162150-ur31cl7u/files/wandb-summary.json
wandb/run-20250907_204328-arn47rb3/run-arn47rb3.wandb
wandb/run-20250907_204328-arn47rb3/files/config.yaml
wandb/run-20250907_204328-arn47rb3/files/requirements.txt
wandb/run-20250907_204328-arn47rb3/files/wandb-metadata.json
wandb/run-20250907_204328-arn47rb3/files/wandb-summary.json
wandb/run-20250908_174209-zbhffijs/run-zbhffijs.wandb
wandb/run-20250908_174209-zbhffijs/files/config.yaml
wandb/run-20250908_174209-zbhffijs/files/requirements.txt
wandb/run-20250908_174209-zbhffijs/files/wandb-metadata.json
wandb/run-20250908_174209-zbhffijs/files/wandb-summary.json
wandb/run-20250908_184312-lzcqf5dd/run-lzcqf5dd.wandb
wandb/run-20250908_184312-lzcqf5dd/files/config.yaml
wandb/run-20250908_184312-lzcqf5dd/files/requirements.txt
wandb/run-20250908_184312-lzcqf5dd/files/wandb-metadata.json
wandb/run-20250908_184312-lzcqf5dd/files/wandb-summary.json
wandb/run-20250908_194759-b69g5620/run-b69g5620.wandb
wandb/run-20250908_194759-b69g5620/files/config.yaml
wandb/run-20250908_194759-b69g5620/files/requirements.txt
wandb/run-20250908_194759-b69g5620/files/wandb-metadata.json
wandb/run-20250908_194759-b69g5620/files/wandb-summary.json
wandb/run-20250908_204936-xe4sadus/run-xe4sadus.wandb
wandb/run-20250908_204936-xe4sadus/files/requirements.txt
wandb/run-20250908_204936-xe4sadus/files/wandb-metadata.json
weight_gradient_hist/finetune_resnet_cifar10_adamw/resnet18_adamw_epoch_0.pth
weight_gradient_hist/finetune_resnet_cifar10_adamw/resnet18_adamw_epoch_15.pth
weight_gradient_hist/finetune_resnet_cifar10_adamw/resnet18_adamw_epoch_29.pth
weight_gradient_hist/finetune_resnet_cifar10_adamw/resnet18_adamw_epoch_30.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.001/resnet18_sgd_epoch_0.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.001/resnet18_sgd_epoch_15.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.001/resnet18_sgd_epoch_29.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.001/resnet18_sgd_epoch_30.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.001/_seed_123/resnet18_sgd_epoch_0.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.001/_seed_123/resnet18_sgd_epoch_15.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.001/_seed_123/resnet18_sgd_epoch_29.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.001/_seed_123/resnet18_sgd_epoch_30.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.001/_seed_42/resnet18_sgd_epoch_0.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.001/_seed_456/resnet18_sgd_epoch_0.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.1/_seed_123/resnet18_sgd_epoch_0.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.1/_seed_123/resnet18_sgd_epoch_15.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.1/_seed_123/resnet18_sgd_epoch_29.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.1/_seed_123/resnet18_sgd_epoch_30.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.8/resnet18_sgd_epoch_0.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.8/resnet18_sgd_epoch_15.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.8/resnet18_sgd_epoch_29.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.8/resnet18_sgd_epoch_30.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.8/_seed_123/resnet18_sgd_epoch_0.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.8/_seed_123/resnet18_sgd_epoch_15.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.8/_seed_123/resnet18_sgd_epoch_29.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.8/_seed_123/resnet18_sgd_epoch_30.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.9/resnet18_sgd_epoch_0.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.9/resnet18_sgd_epoch_15.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.9/resnet18_sgd_epoch_29.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_0.9/resnet18_sgd_epoch_30.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_1.0/resnet18_sgd_epoch_0.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_1.0/resnet18_sgd_epoch_15.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_1.0/resnet18_sgd_epoch_29.pth
weight_gradient_hist/finetune_resnet_cifar10_sgd/lr_1.0/resnet18_sgd_epoch_30.pth
tmp/job-833815/err.txt
tmp/job-833815/out.txt
tmp/job-833816/err.txt
tmp/job-833816/out.txt
tmp/job-833817/err.txt
tmp/job-833817/out.txt
tmp/job-833926/err.txt
tmp/job-833926/out.txt
tmp/job-833929/err.txt
tmp/job-833929/out.txt
tmp/job-833930/err.txt
tmp/job-833930/out.txt
tmp/job-833933/err.txt
tmp/job-833933/out.txt
tmp/job-833937/err.txt
tmp/job-833937/out.txt
tmp/job-833940/err.txt
tmp/job-833940/out.txt
tmp/job-833947/err.txt
tmp/job-833947/out.txt
tmp/job-833956/err.txt
tmp/job-833956/out.txt
tmp/job-833957/err.txt
tmp/job-833957/out.txt
tmp/job-838768/err.txt
tmp/job-838768/out.txt
tmp/job-838773/err.txt
tmp/job-838773/out.txt
tmp/job-838780/err.txt
tmp/job-838780/out.txt
tmp/job-838781/err.txt
tmp/job-838781/out.txt
tmp/job-838787/err.txt
tmp/job-838787/out.txt
tmp/job-838793/err.txt
tmp/job-838793/out.txt
tmp/job-838824/err.txt
tmp/job-838824/out.txt
tmp/job-838826/err.txt
tmp/job-838826/out.txt
tmp/job-838828/err.txt
tmp/job-838828/out.txt
tmp/job-838832/err.txt
tmp/job-838832/out.txt
tmp/job-838835/err.txt
tmp/job-838835/out.txt
tmp/job-838837/err.txt
tmp/job-838837/out.txt
tmp/job-838840/err.txt
tmp/job-838840/out.txt
tmp/job-838870/err.txt
tmp/job-838870/out.txt
tmp/job-838872/err.txt
tmp/job-838872/out.txt
tmp/job-838873/err.txt
tmp/job-838873/out.txt
